*{
    padding: 0;
    margin: 0;
}

body{
    color: white;
}

#contenedor{
    height: 900px;
    width: 1200px;
}

header{
    font-size: 40px;
    color: #BADA55;
    background-color: #B58A69;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

nav{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 18px;
    list-style: flex;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

li{
    display: inline;
    padding: 40px;
    flex-direction: row;
}

li a:hover{
    color: red;
    text-decoration: none;
    list-style: none;
}

.section-h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;   
    color: #000000; 
}


section{
    text-align: justify;
    background-color: #DEE5DE;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#texto_seccion{
    font-size: 20px;
    color: #000000;
    text-align: justify;
}

.section-img{
    width: 340px;
    height: 190px;
    float: left;
}

.section-button{
    background-color: #5E5E4A;
    color: white;
    height: 25px;
    width: 100px;
    margin: 10px;
}

.aside_header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #000000;
}

aside{
    background-color: #D7D7CB;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}

aside img{
    width: 350px;
    height: 220px;
    margin: 2px;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #E8E6E6;
    background-color: #5E5E4A;
    margin-left: 50px;
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width:650px){
    nav{
        flex-direction: column;
    }
}